<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>by.andervyd.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCount</servlet-name>
        <servlet-class>by.andervyd.ServletCount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCount</servlet-name>
        <url-pattern>/servlet_count</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCart</servlet-name>
        <servlet-class>by.andervyd.ServletCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCart</servlet-name>
        <url-pattern>/cart_info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Greeting</servlet-name>
        <jsp-file>/greeting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Import</servlet-name>
        <jsp-file>/import.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Import</servlet-name>
        <url-pattern>/import_time</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Get</servlet-name>
        <jsp-file>/get.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/get_param</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Info</servlet-name>
        <jsp-file>/info.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

</web-app>